* {
  /*-- Определяет как вычисляется ширина и высота элемента 
  (учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента)--*/
  box-sizing: border-box;
}

.container {
  /*-- Ширина элемента--*/
  width: 580px;
  /*-- Внешние отступы в блоке--*/
  margin: 0 auto;
}

.page {
  /*--каждый блок занимает всю ширину строки.--*/
  display: flex;
  /*--Направление, в котором блоки будут располагаться вертикально.--*/
  flex-direction: column;
  /*--Минимальна ширина элемента.--*/
  min-width: 640px;
  /*--Минимальна высота элемента (в процентах от высоты области просмотра браузера).--*/
  min-height: 100vh;
  /*-- Внешние отступы в блоке--*/
  margin: 0;
  /*-- Шрифт от приоритетного к запасному--*/
  font-family: 'Inter', "Arial", sans-serif;
  /*-- Размер шрифта--*/
  font-size: 14px;
  /*-- Высота строки или межстрочный интервал--*/
  line-height: 18px;
  /*-- Цвет шрифта--*/
  color: white;
  /*-- Цвет фона--*/
  background-color: #6e5d4b;
  /*-- Фон - "гусинная лапка"--*/
  position: relative;
  z-index: 5;
  min-height: 20px;
    background-image:
    linear-gradient(45deg, #746250 25%, transparent 25%),
    linear-gradient(-45deg, #746250 25%, transparent 25%),
    linear-gradient(135deg, #746250 25%, transparent 25%),
    linear-gradient(-135deg, #746250 25%, transparent 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
}

.navigation {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #9c9c9c;
  /*-- Контур блока--*/
  border: 2px solid #6e5d4b;
  /*-- Цвет разделителей--*/
  color: #6e5d4b;
  /*-- Выравнивание по горизонтали--*/
  text-align: center;
}

.navigation li{
  /*-- Исключить нумерацию списка--*/
  list-style: none;
  /*-- Расположить по горизонтали--*/
  display: inline-block;
  /*-- Внешние отступы в блоке--*/
  margin: 0 1em 0 1em;
}

.page-header {
  /*-- Внешние отступы в блоке (снизу)--*/
  margin-bottom: 20px;
  /*-- Цвет шрифта--*/
  color: white;
  /*-- Цвет фона--*/
  background: #6E5D4B no-repeat center url("img/head.jpg");
  background-size: cover;
  /*-- Тень--*/
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.page-title {
  /*-- Внешние отступы в блоке--*/
  margin: 0 0 12px 0;
  /*-- Внутренние отступы в блоке--*/
  padding: 0;
  /*-- Насыщенность или толщина шрифта--*/
  font-weight: 700;
  /*-- Размер шрифта--*/
  font-size: 36px;
  /*-- Высота строки или межстрочный интервал--*/
  line-height: 100%;
  /*-- Все заглавные--*/
  text-transform: uppercase;
  /*-- Цвет шрифта--*/
  color: white;
  /*-- Выравнивание по горизонтали--*/
  text-align: center;
  /*-- Контур текста--*/
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.05em;
  }

.page-title2 {
  /*-- Внешние отступы в блоке--*/
  margin: 0 0 12px 0;
  /*-- Внутренние отступы в блоке--*/
  padding: 0;
  /*-- Насыщенность или толщина шрифта--*/
  font-weight: 700;
  /*-- Размер шрифта--*/
  font-size: 24px;
  /*-- Высота строки или межстрочный интервал--*/
  line-height: 100%;
  /*-- Цвет шрифта--*/
  color: rgb(0, 0, 0);
  /*-- Выравнивание по горизонтали--*/
  text-align: center;
  /*-- Контур текста--*/
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 0.03em;

  text-decoration: none;
  }

.page-title3 {
  /*-- Цвет шрифта--*/
  color: rgb(0, 0, 0);
  /*-- Размер шрифта--*/
  font-size: 36px;
  /*-- Контур текста--*/
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 0.05em;
  }

.page-header-text {
  /*-- Управление переносами - сохранить в исходном формате--*/
  white-space: pre;
  /*-- Внутренние отступы в блоке--*/
  padding: 0px 32px 0px 0px;
  /*-- Выравнивание по горизонтали--*/
  text-align: right;
  /*-- Размер шрифта--*/
  font-size: 16px;
}

blockquote {
  outline: rgb(0, 0, 0) solid 2px;
  /*-- Внутренние отступы в блоке--*/
  padding: 2px 120px 0px 0px;
  /*-- Внешние отступы в блоке--*/
  margin: 0px 0px 0px 0px;
  /*-- Выравнивание по горизонтали--*/
  text-align: right;
  /*-- Размер шрифта--*/
  font-size: 16px;
    /*-- Ширина элемента--*/
    width: 580px;
  border-radius: 132px 0; 
  font-style: italic;
  color: black;
 background-color: #ffffff;
  }

.face {
  outline: rgb(0, 0, 0) solid 2px;
  border-radius: 0% 50% 50% 50%;
  /*-- Внешние отступы в блоке--*/
  margin: -58px 0px 0px 0px;
  background-color: #000000;
  }

.section-title {
  /*-- ширина элемента--*/
  width: 100%;
  /*-- Внешние отступы в блоке--*/
  margin: 0;
  /*-- Внешние отступы в блоке (снизу)--*/
  margin-bottom: 10px;
  /*-- Внутренние отступы в блоке--*/
  padding: 0;
 /*-- Насыщенность или толщина шрифта--*/
 font-weight: 400;
  /*-- Размер шрифта--*/
  font-size: 18px;
  /*-- Высота строки или межстрочный интервал--*/
  line-height: 18px;
  }

a {
 /*-- Цвет шрифта--*/
 color: rgb(0, 0, 0); 
 }

a:focus {
  outline-color: #007434;
}


h2 {
  /*-- Выравнивание по горизонтали--*/
  text-align: center;
  text-decoration: underline;
  }

.page-header .container {
  /*-- Внутренние отступы в блоке (сверху)--*/
  padding-top: 40px;
  /*-- Внутренние отступы в блоке (снизу)--*/
  padding-bottom: 20px;

  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 290px 212px;
}

.p1 {
  /*-- Отсуп с красной строки--*/
  text-indent: 30px; 
  }



.about {
  /*-- Внутренние отступы в блоке--*/
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*-- Внешние отступы в блоке (снизу)--*/
  margin-bottom: 32px;
  background-color: rgba(241, 196, 15, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 3px #cccccc;
 }

.about-image {
  width: 147px;
  height: 147px;
  border-radius: 50%;
 }

.about-content {
  width: 410px;
  /*-- Размер шрифта--*/
  font-size: 14px;
  /*-- Высота строки или межстрочный интервал--*/
  line-height: 24px;
 }

.about-content p {
  /*-- Внешние отступы в блоке--*/
  margin: 0;
  /*-- Внешние отступы в блоке (снизу)--*/
  margin-bottom: 12px;
  /*-- Внутренние отступы в блоке--*/
  padding: 0;
 }

.status {
  /*-- Внешние отступы в блоке (снизу)--*/
  margin-bottom: 32px;
}

.status p {
  /*-- Внешние отступы в блоке--*/
  margin: 0;
  /*-- Внутренние отступы в блоке (сверху)--*/
  padding-top: 12px;
  /*-- Внутренние отступы в блоке (справа)--*/
  padding-right: 32px;
  /*-- Внутренние отступы в блоке (снизу)--*/
  padding-bottom: 16px;
  /*-- Внутренние отступы в блоке (слева)--*/
  padding-left: 32px;
  border-radius: 32px 0;
  /*-- Размер шрифта--*/
  font-size: 16px;
  /*-- Высота строки или межстрочный интервал--*/
  line-height: 24px;
  font-style: italic;
  color: #333333;
  background-color: #ffffff;
}

.contacts {
  /*-- Внешние отступы в блоке (снизу)--*/
  margin-bottom: 82px;
}

.contacts img {
  width: 146px;
  height: 146px;
  /*-- Внешние отступы в блоке (справа)--*/
  margin-right: 24px;
}

.contacts p {
  /*-- Внешние отступы в блоке--*/
  margin: 0;
  /*-- Внешние отступы в блоке (снизу)--*/
  margin-bottom: 12px;
  /*-- Внутренние отступы в блоке--*/
  padding: 0;
  /*-- Размер шрифта--*/
  font-size: 14px;
  /*-- Высота строки или межстрочный интервал--*/
  line-height: 24px;
}

p.contacts-name {
  /*-- Внешние отступы в блоке (сверху)--*/
  margin-top: 20px;
  /*-- Внешние отступы в блоке (снизу)--*/
  margin-bottom: 16px;
  /*-- Насыщенность или толщина шрифта--*/
  font-weight: bold;
  /*-- Высота строки или межстрочный интервал--*/
  line-height: 20px;
}

.contacts a {
  /*-- Размер шрифта--*/
  font-size: 16px;
  /*-- Высота строки или межстрочный интервал--*/
  line-height: 24px;
}

.page-footer {
  /*-- Внешние отступы в блоке (сверху)--*/
  margin-top: auto;
  color: #ffffff;
  /*-- Цвет фона--*/
  background-color: #6e5d4b;
    /*-- Выравнивание по горизонтали--*/
    text-align: center;
}

.page-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*-- Внутренние отступы в блоке (сверху)--*/
  padding-top: 12px;
  /*-- Внутренние отступы в блоке (снизу)--*/
  padding-bottom: 14px;
}

.page-footer p {
  /*-- Внешние отступы в блоке--*/
  margin: 0;
 }



 .skills dd {
  margin: 0;
  background-color: #7a7a7a;
  margin-left: 270px; /* Отступ слева */
  width: 270px; /* Ширина для текста */
  margin-bottom: 5px; /* Расстояние между терминами */
}

.skills-level {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #47bb52;
 }

  dt {
    float: left; /* Для размещения на одной строке */
    width: 270px; /* Ширина для текста */
    text-align: right; /* Выравнивание по правому краю */
    padding-right: 5px; /* Отступ справа */
    min-height: 1px; /* Минимальная высота */
   }
